{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style do Template Origin -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
    <!-- Load all jsavascrip files -->
    
    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/d52d40e194.js" crossorigin="anonymous"></script>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
    <script src="{% static 'fontawesome/js/all.min.js' %}" defer></script> {% endcomment %}

    <title>Hemafran Transportes - {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/svg" href="{% static 'img/logo.svg' %}"/>
</head>
<body>
    {% block content %}{% endblock content %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.bxslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.label_better.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mixitup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easypiechart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.inview.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/countUp.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/grid.js' %}"></script>
    <script>
    $(function() {
        Grid.init();
    });
    </script>
</body>
</html>