{% load static %}

    <footer>
        <div class="container">
            
            <ul class="social-list">
                <li class="facebook">
                    <a href="https://www.facebook.com/hemafrantransportes" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="instagran">
                    <a href="https://www.instagram.com/hemafran_transportes_oficial/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
                {% comment %} <li class="linkedin">
                    <a href="https://www.linkedin.com" target="_blank">	<i class="fa fa-linkedin"></i></a>
                </li> {% endcomment %}
                <li class="youtube">
                    <a href="https://youtube.com/channel/UCLK2O_d1geXpN5ci2pQryAg" target="_blank"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
            <p>&copy; Copyright Luciano da Cunha Lopes 2022</p>
            <p>&copy; Copyright <a href="http://graphberry.com?ref=smak">GraphBerry.com</a> 2014 All rights reserved</p>
            <a href="#home" class="square-l goup" style="position: relative">
                <span>
                    <span class="fa fa-angle-double-up fa-2x"></span>
                    <span class="fa fa-angle-double-up fa-2x"></span>
                    <span class="fa fa-angle-double-up fa-2x"></span>
                    <span class="fa fa-angle-double-up fa-2x"></span>
                    <span class="fa fa-angle-double-up fa-2x"></span>
                </span>
            </a>
        </div>
    </footer>
