{% load static %}
    <div style="position: fixed; z-index: -99; width: 100%; height: 100%"></div>
    <section id="home" class="home home-fullscreen">
        <div class="slide text-slider-wrapper">
            <div class="container">
                <ul class="text-slider clearfix">
                    <li class="clearfix">
                        <span class="lead">SUA CARGA NO DESTINO</span>
                        <a href="#portfolio" class="btn btn-primary outline-outward">Conheça</a>
                    </li>
                    <li class="clearfix">
                        <span class="lead">Modernos Caminhões</span>
                        <a href="#portfolio" class="btn btn-primary outline-outward">Saiba-mais</a>
                    </li>
                    <li class="clearfix">
                        <span class="lead">Rastreadores de ultima geração</span>
                        <a href="#portfolio" class="btn btn-primary outline-outward">Quer saber como?</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
