{% load static %}
<section id="services" class="gray">
    <div class="container pad-bot-50">
        <div class="heading">
            <div>Nossos Serviços</div>
            <div class="divider"></div>
            <h1>O QUE AMAMOS FAZER</h1>
            <div class="divider"><span></span></div>
            <p>Somos especialistas em transportes, movidos por uma paixão, motivados em proporcionar progresso em todo território nacional.</p>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="service-item fadeInDown">
                    <div class="circle circle-l"><i class="fa fa-truck-moving fa-3x"></i></div>
                    <h3>Lotação</h3>
                    <p class="font-m">De Ponta a Ponta para sua carga</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service-item fadeInUp">
                    <div class="circle circle-l"><i class="fa fa-truck-ramp-box fa-3x"></i></div>
                    <h3>Dedicado</h3>
                    <p class="font-m">Personalizado para sua necessidade</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service-item fadeInDown">
                    <div class="circle circle-l"><i class="fa fa-truck-fast fa-3x"></i></div>
                    <h3>Express</h3>
                    <p class="font-m">Para aquela carga de última hora</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service-item fadeInUp">
                    <div class="circle circle-l"><i class="fa fa-warehouse fa-3x"></i></div>
                    <h3>Armazenagem</h3>
                    <p class="font-m">A Expansão ideal para seu negócio</p>
                </div>
            </div>
        </div>
    </div>
    <div class="branded-section process">
        <div class="masked">
            <div class="container">
                <div class="heading">
                    <h3 class="primary-color">COMO REALIZAMOS ISSO</h3>
                    <div class="divider"><span></span></div>
                    <p>Buscamos melhorias continuas e tecnologias que atendem ainda melhor nossos clientes com eficiência.</p>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="process-item ">
                            <i class="fa fa-map-location fa-3x"></i>
                            <h3>Rastreamento</h3>
                            <p class="font-m">Modernos sistemas de geo-localização em toda frota</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="process-item delay1">
                            <i class="fa fa-route fa-3x"></i>
                            <h3>Roteirização</h3>
                            <p class="font-m">Trajetos planejados para maior segurança</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="process-item delay2">
                            <i class="fa fa-laptop-code fa-3x"></i>
                            <h3>TMS - WMS</h3>
                            <p class="font-m">Sistemas de Gerenciamento modernos e confiáveis</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="process-item delay3">
                            <i class="fa fa-box fa-3x"></i>
                            <h3>Serviços Diversos</h3>
                            <p class="font-m">Carga, descarga, ajudantes, e muito mais</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="process-item delay4">
                            <i class="fa fa-user-shield fa-3x"></i>
                            <h3>Motoristas</h3>
                            <p class="font-m">Certificados e Qualificados para o transporte de carga</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="process-item delay5">
                            <i class="fa fa-clipboard-list fa-3x"></i>
                            <h3>PGR</h3>
                            <p class="font-m">Atendendo as exigências das melhores Gerenciadoras de Riscos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
