{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.bxslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.label_better.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mixitup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easypiechart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.inview.js' %}"></script>
<script type="text/javascript" src="{% static 'js/countUp.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/grid.js' %}"></script>
<script>
    $(function() {
        Grid.init();
    });
</script>