{% load static %}

<div class="project row">
	<div class="col-md-6">
		<img src="{% static 'img/project/trava-sensor.png' %}" alt="slika" class="img-responsive">
	</div>
	<div class="col-md-6">
		<a href="javascript:void(0)" class="close" id="close-project">
			<i class="fa fa-times"></i>
		</a>
		<h2>Sensor de Desengate</h2>
		<p>Instalado internamente ou externamente, permite o conhecimento remoto sobre a situação de engate entre carreta e cavalo. A Gerenciadora de Risco é informada de imediato e providencia medidas para assegurar o serviço.</p>
		<h2>Trava de 5ª Roda</h2>
		<p>Instalado na 5ª roda do cavalo, controla o acoplamento/desacoplamento entre cavalo e carreta, possuindo alto grau de complexidade na desativação do atuador. Exige uma autorização para desacoplamento da Gerenciadora de Risco.</p>
		<h2>Trava e Sensor de Bau</h2>
		<p>Instalada na internamente, permite o conhecimento remoto sobre a situação da porta. Exige uma autorização para abertura da Gerenciadora de Risco e, esta é informada de imediato em uma ação não desejada.</p>
	</div>
</div>