{% load static %}

<div class="project row">
	<div class="col-md-6">
		<img src="{% static 'img/project/autotrac.png' %}" alt="slika" class="img-responsive">
	</div>
	<div class="col-md-6">
		<a href="javascript:void(0)" class="close" id="close-project">
			<i class="fa fa-times"></i>
		</a>
		<h2>Autotrac</h2>
		<p>Empresa com mais de 25 anos de experiência no segmento de tecnologias aplicadas ao monitoramento e rastreamento de frotas, é especializada em desenvolvimento de equipamentos, de software e na prestação de serviços de comunicação móvel de dados.</p>
		<a href="https://www.autotrac.com.br" target="_blank" class="btn btn-primary">Conheça a Autotrac</a>
	</div>
</div>