{% load static %}

<div class="project row">
	<div class="col-md-6">
		<img src="{% static 'img/project/furgao.png' %}" alt="slika" class="img-responsive">
	</div>
	<div class="col-md-6">
		<a href="javascript:void(0)" class="close" id="close-project">
			<i class="fa fa-times"></i>
		</a>
		<h2>Carrocerias Bau</h2>
		<p>Por ser uma carroceria completamente fechada, fatores externos, como clima, vegetação e outros itens não impactam na mercadoria. Utilizado principalmente para alimentos, bebidas, medicamentos e eletrônicos.</p>
	</div>
</div>