{% load static %}

<div class="project row">
	<div class="col-md-6">
		<img src="{% static 'img/project/sider.png' %}" alt="slika" class="img-responsive">
	</div>
	<div class="col-md-6">
		<a href="javascript:void(0)" class="close" id="close-project">
			<i class="fa fa-times"></i>
		</a>
		<h2>Carrocerias Sider</h2>
		<p>Recomendada para cargas volumosas, a carroceria sider pode acomodar peças automotivas, produtos de higiene, limpeza e outros, que normalmente estão acomodados em paletes e racks. Suas laterais são fechadas com lonas retráteis que facilitam e agilizam o processo de carregamento e retirada da carga.</p>
	</div>
</div>