{% load static %}

<div class="project row">
	<div class="col-md-6">
		<img src="{% static 'img/project/onixsat.webp' %}" alt="slika" class="img-responsive">
	</div>
	<div class="col-md-6">
		<a href="javascript:void(0)" class="close" id="close-project">
			<i class="fa fa-times"></i>
		</a>
		<h2>OnixSat - Rastreamento</h2>
		<p>Tecnologia de rastreamento de veículos com ferramentas completas para rastreamento e acompanhamento online. Possui todas as características do sistema de rastreamento híbrido, como Inteligência Embarcada e de Telemetria OnixSat.</p>
		<p>Possibilita ainda a troca de informações por meio de mensagens de texto livre via satélite, atendendo às operações de transportes nacionais e internacionais.</p>
		<a href="https://www.onixsat.com.br" target="_blank" class="btn btn-primary">Conheça a OnixSat</a>
	</div>
</div>