{% load static %}

<div class="project row">
	<div class="col-md-6">
		<img src="{% static 'img/project/tela_janela.jpeg' %}" alt="slika" class="img-responsive">
	</div>
	<div class="col-md-6">
		<a href="javascript:void(0)" class="close" id="close-project">
			<i class="fa fa-times"></i>
		</a>
		<h2>Tela de Proteção de Janela</h2>
		<p>A Tela de Proteção de Janela é um mecanismo de segurança, fixado junto nas janelas do caminhão, utilizado para garantir mais segurança do motorista, já que a sua principal função é evitar que pessoas entrem no caminhão, sem que haja uma autorização.</p>
		<p>Integrada ao sistema de rastreamento, permite que o Gerenciamento de Risco seja informado de imediato de uma ação não deseja.</p>
	</div>
</div>