{% load static %}

<div class="project row">
	<div class="col-md-6">
		<img src="{% static 'img/project/tapa_estribo.png' %}" alt="slika" class="img-responsive">
	</div>
	<div class="col-md-6">
		<a href="javascript:void(0)" class="close" id="close-project">
			<i class="fa fa-times"></i>
		</a>
		<h2>Antifurto Protetor de Estribo</h2>
		<p>O Antifurto Protetor de Estribo é um mecanismo de segurança, fixado junto à porta do caminhão, visando cobrir os degraus de acesso a cabine, impedindo o acesso até ela e garantindo segurança!</p>
	</div>
</div>