{% load static %}

<div class="project row">
	<div class="col-md-6">
		<img src="{% static 'img/project/seguros-carga.jpg' %}" alt="slika" class="img-responsive">
	</div>
	<div class="col-md-6">
		<a href="javascript:void(0)" class="close" id="close-project">
			<i class="fa fa-times"></i>
		</a>
		<h2>Apolice de Seguro RCTR-C e RCF-DC</h2>
		<p>O seguro da carga é a garantia de indenização por prejuízos causados durante as viagens, sejam elas nacionais ou internacionais. A contratação de apólices dessa natureza é um dos elementos mais importantes para o segmento.</p>
		<a href="{% static 'pdf/rctr-c.pdf' %}" target="_blank" class="btn btn-primary">Conheça nossa Apolice RCTR-C</a>
		<a href="{% static 'pdf/rcf-dc.pdf' %}" target="_blank" class="btn btn-primary">Conheça nossa Apolice RCF-DC</a>
	</div>
</div>