{% load static %}

<div class="project row">
	<div class="col-md-6">
		<img src="{% static 'img/project/gerenciamento-de-risco.jpg' %}" alt="slika" class="img-responsive">
	</div>
	<div class="col-md-6">
		<a href="javascript:void(0)" class="close" id="close-project">
			<i class="fa fa-times"></i>
		</a>
		<h2>Gerenciamento de Risco</h2>
		<p>O gerenciamento de risco é o conjunto de medidas preventivas adotadas com o objetivo de diminuir os riscos inerentes dos serviços de transporte. Dentre essas ações estão, por exemplo, a utilização de equipamentos para a proteção (PGR) e rastreio, tanto da carga quanto do veículo, cadastros e consultas dos motoristas para conhecer o histórico dos mesmos, entre outras.</p>
	</div>
</div>