{% load static %}

<div class="project row">
	<div class="col-md-6">
		<img src="{% static 'img/project/coberturas-adicionais.jpeg' %}" alt="slika" class="img-responsive">
	</div>
	<div class="col-md-6">
		<a href="javascript:void(0)" class="close" id="close-project">
			<i class="fa fa-times"></i>
		</a>
		<h2>Coberturas Adicionais do seguro</h2>
		<p>Em conjunto com as coberturas básicas, nossa apolice possui uma extenção para indenizar perdas e/ou danos materiais resultante de um dos riscos cobertos, pela(s) Cobertura(s) Adicional(is) para:</p>
			<ul>
				<li><p>Os Riscos de Quebra, Amassamento, Amolgamento e Arranhadura;</p></li>
				<li><p>Os Riscos de Mancha de Rótulo;</p></li>
				<li><p>Os Riscos de Água Doce e Água de Chuva;</p></li>
				<li><p>Os Riscos de Contaminação e Contato Com Outras Mercadorias;</p></li>
				<li><p>Os Riscos de Derrame e Vazamento;</p></li>
				<li><p>Os Riscos de Oxidação ou Ferrugem;</p></li>
				<li><p>Os Riscos de Adernamento, Má Arrumação e/ou Mau Acondicionamento da Carga;</p></li>
				<li><p>De Limpeza de Pista e Descontaminação Ambiental do Local de Ocorrência do Sinistro de Transporte.</p></li>
			</ul>
	</div>
</div>