{% load static %}

<div class="project row">
	<div class="col-md-6">
		<img src="{% static 'img/project/t4s.jpeg' %}" alt="slika" class="img-responsive">
	</div>
	<div class="col-md-6">
		<a href="javascript:void(0)" class="close" id="close-project">
			<i class="fa fa-times"></i>
		</a>
		<h2>Tecnologia - T4S</h2>
		<p>Inovação patenteada, sem fio, baseada em pequenos e bem camuflados atuadores, capazes de bloquear automaticamente o veículo em caso de:</p>
			<ul>
				<li><p>Detecção de Jammer;</p></li>
				<li><p>Desvio de rota ou violação de cerca;</p></li>
				<li><p>Violação sistema rastreamento ou vandalismo de painel;</p></li>
				<li><p>Comando remoto de bloqueio.</p></li>
			</ul>
		<p>2 horas no mínimo para desativação do Bloqueio</p>
		<a href="https://www.t4stecnologia.com" target="_blank" class="btn btn-primary">Conheça a T4S</a>
	</div>
</div>